@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

#nav a.active {
    border: 1px solid #FF3811;
    background-color: transparent;
    color: #FF3811;
    font-weight: 700;
}


.banner-1{ 
    background-image: linear-gradient(90.00deg, rgb(21, 21, 21),rgba(21, 21, 21, 0) 100%),url('./assets/images/banner/1.jpg');
}
.banner-2{ 
    background-image: linear-gradient(90.00deg, rgb(21, 21, 21),rgba(21, 21, 21, 0) 100%),url('./assets/images/banner/2.jpg');
}
.banner-3{ 
    background-image: linear-gradient(90.00deg, rgb(21, 21, 21),rgba(21, 21, 21, 0) 100%),url('./assets/images/banner/3.jpg');
}
.banner-4{ 
    background-image: linear-gradient(90.00deg, rgb(21, 21, 21),rgba(21, 21, 21, 0) 100%),url('./assets/images/banner/4.jpg');
}
.banner-5{ 
    background-image: linear-gradient(90.00deg, rgb(21, 21, 21),rgba(21, 21, 21, 0) 100%),url('./assets/images/banner/5.jpg');
}
.banner-6{ 
    background-image: linear-gradient(90.00deg, rgb(21, 21, 21),rgba(21, 21, 21, 0) 100%),url('./assets/images/banner/6.jpg');
}

.loader {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0;
    background: #FF3D00;
    width: 3px;
    height: 24px;
    transform: translateX(-50%);
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

